{% extends 'hms/base.html' %}
{% load static %}

{% block content %}

<div class="alert alert-success">
  <h5>Receptionist's Interface</h5>
  <h5>Patient Info</h5>
</div>



<div class="container">
  <div class="row">
    <div class="col-sm">
      Register Patient
      <div class="row">
          <div class="box">
            <form class="form-group" action="#" method="post">
              First Name: <input class="form-control" type="text" name="f_name" value=""><br>
              Last Name: <input class="form-control" type="text" name="l_name" value=""><br>
              Date of Birth: <input class="form-control" type="text" name="p_dob" value="yyyy-mm-dd"><br>
              Email: <input class="form-control" type="text" name="p_email" value=""><br>
              Address: <input class="form-control" type="text" name="<p_address</p>" value=""><br>
              Contact: <input class="form-control" type="text" name="p_contact" value=""><br>
              <button class="alert alert-danger" type="submit" name="button">Submit</button>
            </form>
          </div>
      </div>
    </div>
    <div class="col-sm">
      Update
      <div class="col-sm">
        <div class="row">
            <div class="box">
              <form class="form-group" action="#" method="post">
                Info Being Changed: <input class="form-control" type="text" name="change_col" value=""><br>
                New Value: <input class="form-control" type="text" name="new_val" value=""><br>
                Patient ID: <input class="form-control" type="text" name="p_id" value=""><br>
                <button class="alert alert-danger" type="submit" name="button">Submit</button>
              </form>
            </div>
        </div>

      </div>
    </div>
    <div class="col-sm">
      Delete Patient
      <div class="row">
          <div class="box">
            <form class="form-group" action="#" method="post">
              Patient ID: <input class="form-control" type="text" name="p_id" value=""><br>
              <button class="alert alert-danger" type="submit" name="button">Submit</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
