{% extends 'hms/base.html' %}
{% load static %}

{% block content %}

<div class="alert alert-success">
  <h5>Receptionist's Interface</h5>
  <h5>Appointment Info</h5>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm">
      Appointment Info
      <div class="row">
          <div class="box">
            <form class="form-group" action="#" method="post">
              Appointment ID: <input class="form-control" type="text" name="a_id" value=""><br>
              Name: <input class="form-control" type="text" name="name" value=""><br>
              Cost: <input class="form-control" type="text" name="a_id" value="$"><br>
              <button class="alert alert-danger" type="submit" name="button">Submit</button>
            </form>
          </div>
      </div>
    </div>
    <div class="col-sm">
      Update Appointment
      <div class="col-sm">
        <div class="row">
            <div class="box">
              <form class="form-group" action="#" method="post">
                Info Being Changed: <input class="form-control" type="text" name="change_col" value=""><br>
                New Value: <input class="form-control" type="text" name="new_val" value=""><br>
                Appointment ID: <input class="form-control" type="text" name="a_id" value=""><br>
                <button class="alert alert-danger" type="submit" name="button">Submit</button>
              </form>
            </div>
        </div>

      </div>
    </div>
    <div class="col-sm">
      Delete Appointment
      <div class="row">
          <div class="box">
            <form class="form-group" action="#" method="post">
              Appointment ID: <input class="form-control" type="text" name="a_id" value=""><br>
              <button class="alert alert-danger" type="submit" name="button">Submit</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
