{% extends 'hms/base.html' %}
{% load static %}

{% block content %}

<div class="alert alert-success">
  <h5>Receptionist's Interface</h5>
  <h5> Consultation Info</h5>
</div>



<div class="container">
  <div class="row">
    <div class="col-sm">
      Create Consultation
      <div class="row">
          <div class="box">
            <form class="form-group" action="#" method="post">
              Visit ID: <input class="form-control" type="text" name="v_id" value=""><br>
              Doctor ID: <input class="form-control" type="text" name="d_id" value=""><br>
              Test ID: <input class="form-control" type="text" name="t_id" value=""><br>
              Date-Time: <input class="form-control" type="text" name="date_time value="yyyy-mm-dd"><br>
              <button class="alert alert-danger" type="submit" name="button">Submit</button>
            </form>
          </div>
      </div>
    </div>
    <div class="col-sm">
      Update
      <div class="col-sm">
        <div class="row">
            <div class="box">
              <form class="form-group" action="#" method="post">
                Info Being Changed: <input class="form-control" type="text" name="change_col" value=""><br>
                New Value: <input class="form-control" type="text" name="new_val" value=""><br>
                Doctor ID: <input class="form-control" type="text" name="d_id" value=""><br>
                Date-Time: <input class="form-control" type="text" name="d_id" value="yyyy-mm-dd"><br>
                <button class="alert alert-danger" type="submit" name="button">Submit</button>
              </form>
            </div>
        </div>

      </div>
    </div>
    <div class="col-sm">
      Delete Patient
      <div class="row">
          <div class="box">
            <form class="form-group" action="#" method="post">
              Doctor ID: <input class="form-control" type="text" name="d_id" value=""><br>
              Date-Time: <input class="form-control" type="text" name="d_id" value="yyyy-mm-dd"><br>
              <button class="alert alert-danger" type="submit" name="button">Submit</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
