{% extends 'hms/base.html' %}
{% load static %}

{% block content %}

<div class="alert alert-success">
  <h5>Receptionist's Interface</h5>
  <h5>Visit Info</h5>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm">
      Create Visit
      <div class="row">
          <div class="box">
            <form class="form-group" action="#" method="post">
              Patient ID: <input class="form-control" type="text" name="p_id" value=""><br>
              Admission Date: <input class="form-control" type="text" name="a_id" value="yyyy-mm-dd"><br>
              Discharge Date: <input class="form-control" type="text" name="<p_address</p>" value="yyyy-mm-dd"><br>
              <button class="alert alert-danger" type="submit" name="button">Submit</button>
            </form>
          </div>
      </div>
    </div>
    <div class="col-sm">
      Update Visit
      <div class="col-sm">
        <div class="row">
            <div class="box">
              <form class="form-group" action="#" method="post">
                Info Being Changed: <input class="form-control" type="text" name="change_col" value=""><br>
                New Value: <input class="form-control" type="text" name="new_val" value=""><br>
                Visit ID: <input class="form-control" type="text" name="v_id" value=""><br>
                <button class="alert alert-danger" type="submit" name="button">Submit</button>
              </form>
            </div>
        </div>

      </div>
    </div>
    <div class="col-sm">
      Delete Visit
      <div class="row">
          <div class="box">
            <form class="form-group" action="#" method="post">
              Visit ID: <input class="form-control" type="text" name="v_id" value=""><br>
              <button class="alert alert-danger" type="submit" name="button">Submit</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
