{% extends 'hms/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="alert alert-success">
        <h5>Admin's Interface</h5>
      </div>
    </div>
    <div class="col-sm-6 button-box">
      <a class="alert alert-danger"href="{% url 'login' %}">Log Out</a>
      <a class="alert alert-danger"href="{% url 'Admin_Staff' %}">Staff</a>
      <a class="alert alert-danger"href="{% url 'login' %}">Logistics</a>
      <a class="alert alert-danger"href="{% url 'Admin_Medicine' %}">Medicine</a>
    </div>
  </div>
  <div class="row">
    {% if message %}
      <div class="alert, alert-danger box">
        <h6>{{message}}</h6>{
      </div>
    {% endif %}
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="box">
        <h6>Create Room</h6>
          <form class="form-group" action="Create_Room" method="post">
          {% csrf_token %}
          Type: <input class="form-control" type="text" name="1type" value=""><br>
          Cost: <input class="form-control" type="text" name="2cost" value=""><br>
          Status: <input class="form-control" type="text" name="3status" value=""><br>
          <button class="alert alert-danger" type="submit" name="button">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="class="box">
        <h6>Update Room</h6>
          <form class="form-group" action="Register_Doctor" method="post">
            {% csrf_token %}
            ID: <input class="form-control" type="text" name="r_id" value=""><br>
          <button class="alert alert-danger" type="submit" name="button">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
