{% extends 'hms/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="alert alert-success">
        <h5>Admin's Interface</h5>
      </div>
    </div>
    <div class="col-sm-6 button-box">
      <a class="alert alert-danger"href="{% url 'login' %}">Log Out</a>
      <a class="alert alert-danger"href="{% url 'HomePage' %}">Staff</a>
      <a class="alert alert-danger"href="{% url 'login' %}">Logistics</a>
      <a class="alert alert-danger"href="{% url 'login' %}">Medicine</a>
    </div>
  </div>
  <div class="row">
    {% if message %}
      <div class="alert, alert-danger box">
        <h6>{{message}}</h6>
      </div>
    {% endif %}
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="box">
        <h6>Register Doctor</h6>
        <form class="form-group" action="Register_Doctor" method="post">
          {% csrf_token %}
          First Name: <input class="form-control" type="text" name="f_name" value=""><br>
          Last Name: <input class="form-control" type="text" name="l_name" value=""><br>
          DOB: <input class="form-control" type="text" name="dob" value="yyyy-mm-dd"><br>
          Address: <input class="form-control" type="text" name="address" value=""><br>
          Email: <input class="form-control" type="text" name="email" value=""><br>
          Phone: <input class="form-control" type="text" name="phone" value=""><br>
          Consultation Fee: <input class="form-control" type="text" name="consult_fee" value=""><br>
          <button class="alert alert-danger" type="submit" name="button">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="box">
        <h6>Register Receptionist</h6>
        <form class="form-group" action="Register_Recep" method="post">
          {% csrf_token %}
          First Name: <input class="form-control" type="text" name="f_name" value=""><br>
          Last Name: <input class="form-control" type="text" name="l_name" value=""><br>
          DOB: <input class="form-control" type="text" name="dob" value="yyyy-mm-dd"><br>
          Address: <input class="form-control" type="text" name="address" value=""><br>
          Email: <input class="form-control" type="text" name="email" value=""><br>
          Phone: <input class="form-control" type="text" name="phone" value=""><br>
          <button class="alert alert-danger" type="submit" name="button">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="class="box">
        <h6>Update Employee Information</h6>
        <form class="form-group" action="Register_Doctor" method="post">
          {% csrf_token %}
          Employee ID: <input class="form-control" type="text" name="e_id" value=""><br>
          <button class="alert alert-danger" type="submit" name="button">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
