{% extends 'hms/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="alert alert-success">
        <h5>Admin's Interface</h5>
      </div>
    </div>
    <div class="col-sm-6 button-box">
      <a class="alert alert-danger"href="{% url 'login' %}">Log Out</a>
      <a class="alert alert-danger"href="{% url 'Admin_Staff' %}">Staff</a>
      <a class="alert alert-danger"href="{% url 'Admin_Logistics' %}">Logistics</a>
      <a class="alert alert-danger"href="{% url 'Admin_Medicine' %}">Medicine</a>
    </div>
  </div>
  <div class="row">
    {% if message %}
      <div class="alert, alert-danger box">
        <h6>{{message}}</h6>{
      </div>
    {% endif %}
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="box">
        <h6>Insert Operation</h6>
          <form class="form-group" action="Insert_Operation" method="post">
          {% csrf_token %}
          Name: <input class="form-control" type="text" name="1name" value=""><br>
          Cost: <input class="form-control" type="text" name="2cost" value=""><br>
          Room: <input class="form-control" type="text" name="3room" value=""><br>
          <button class="alert alert-danger" type="submit" name="button">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="box">
        <h6>Insert Medicine</h6>
        <form class="form-group" action="Insert_Medicine" method="post">
          {% csrf_token %}
          Name: <input class="form-control" type="text" name="1name" value=""><br>
          Cost: <input class="form-control" type="text" name="2cost" value=""><br>
          <button class="alert alert-danger" type="submit" name="button">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="box">
        <h6>Insert Test</h6>
        <form class="form-group" action="Insert_Test" method="post">
            {% csrf_token %}
            Name: <input class="form-control" type="text" name="1name" value=""><br>
            Cost: <input class="form-control" type="text" name="2cost" value=""><br>
            <button class="alert alert-danger" type="submit" name="button">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="class="box">
        <h6>Update Medical</h6>
          <form class="form-group" action="Get_Medical_Info" method="post">
            {% csrf_token %}
            <input type="radio" name="medical" value="medicine"> Medicine<br>
            <input type="radio" name="medical" value="operation"> Operation<br>
            <input type="radio" name="medical" value="test"> Test<br>
            ID: <input class="form-control" type="text" name="1m_id" value=""><br>
          <button class="alert alert-danger" type="submit" name="button">Submit</button>
        </form>
      </div>
      {% if querySet %}
      <div class="box">
        <h6>Delete/Update Medical Information</h6>
        <form class="form-group" action="Update_Medical_Info" method="post">
          {% csrf_token %}
          ID: <input class="form-control" type="text" name="1id" value="{{querySet.1}}"><br>
          <input class="form-control" type="hidden" name="2type" value="{{querySet.0}}"><br>
          Name: <input class="form-control" type="text" name="3name" value="{{querySet.2}}"><br>
          Cost: <input class="form-control" type="text" name="4cost" value="{{querySet.3}}"><br>
          {% if querySet.4 %}
            Room: <input class="form-control" type="text" name="5status" value="{{querySet.4}}"><br>
          {% endif %}
          <button class="alert alert-danger" type="submit" name="Update">Update</button>
          <button class="alert alert-danger" type="submit" name="Delete">Delete</button>
        </form>
      </div>
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}
