{% load staticfiles %}


<html>
<head>
  <meta charset="utf-8">
  <title>Library Management System</title><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'hms/style.css' %}">


  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <main>
    <div class="container-fluid">
      <div class="row header">
        <div class="col-sm-6">
          <div class="header-title">
            <h1>Hospital Management System</h1>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="header-title">
            <h3>Database Design Project</h3>
          </div>
        </div>
      </div>
      <div class="container">
          {% block content %}
          {% endblock %}
      </div>
    </div>
  </main>
</body>
</html>
