{% extends 'hms/base.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-sm-8">
    <div class="alert alert-success">
      <h5>Receptionist's Interface</h5>
    </div>
  </div>
  <div class="col-sm-4">
    <a class="alert alert-danger"href="{% url 'login' %}">Log Out</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="box">
      <h6>Register Patient</h6>
      <form class="form-group" action="#" method="post">
        First Name: <input class="form-control" type="text" name="f_name" value=""><br>
        Last Name: <input class="form-control" type="text" name="l_name" value=""><br>
        DOB: <input class="form-control" type="text" name="p_dob" value="yyyy-mm-dd"><br>
        Email: <input class="form-control" type="text" name="p_email" value=""><br>
        Address: <input class="form-control" type="text" name="<p_address</p>" value=""><br>
        Contact: <input class="form-control" type="text" name="p_contact" value=""><br>
        <button class="alert alert-danger" type="submit" name="button">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
